@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

@theme {
  --header-height: 4rem;
}

.cm-theme {
  height: 100%;

  .cm-editor {
    height: 100%;
  }
}

div.cm-focused {
  outline: none !important;
}
